{
	"printWidth": 80,
	"editor.formatOnSave": false,
	"proseWrap": "never",
	"tabWidth": 4,
	"requireConfig": false,
	"useTabs": true,
	"bracketSpacing": true,
	"semi": true,
	"arrowParens": "always"
}
